@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eae0e0;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0px;
  height: 100%;
  max-width: 2000px;
  overflow: auto;
}

a {
  text-decoration: none;
  color: #000000;
}
@media (max-width: 1600px) {
  .wrapper {
    max-width: 1280px;
    margin: 50px auto;
  }
}
@media (max-width: 1300px) {
  .wrapper {
    max-width: 800px;
  }
}
@media (max-width: 1000px) {
  .wrapper {
    max-width: 600px;
  }
}

@media (max-width: 640px) {
  .wrapper {
    max-width: 550px;
    margin: 30px auto;
  }
}

@media (max-width: 420px) {
  .wrapper {
    max-width: 250px;
    margin: 20px auto;
  }
}

.nav {
  float: right;
}

.logo {
  width: 30%;
}

.logo-a {
  margin-right: 0px;
  margin-left: 0px;
  width: 40%;
}

.wrapper-link-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  margin-right: 10px;
  margin-left: 10px;
}

.PageLink {
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
}

.ActivePageLink {
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  color: black;
}

.presentation {
  margin: 50px 0;
  background-image: url("./image/bg.jpeg");
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
}

@media (max-width: 1000px) {
  .presentation {
    height: 300px;
  }
  .PageLink {
    font-size: 1.2rem;
  }
  .ActivePageLink {
    font-size: 1.2rem;
  }
}

@media (max-width: 640px) {
  .presentation {
    height: 250px;
  }
  .PageLink {
    font-size: 1rem;
  }
  .ActivePageLink {
    font-size: 1rem;
  }
  .presentation {
    margin: 25px 0;
  }
}

@media (max-width: 420px) {
  .presentation {
    height: 150px;
  }
  .PageLink {
    font-size: 0.6rem;
  }
  .ActivePageLink {
    font-size: 0.6rem;
  }
  a {
    margin-right: 5px;
    margin-left: 5px;
  }
  .presentation {
    margin: 15px 0;
  }
}

div.wrapper-main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

div.wrapper-main .Product {
  width: 30%;
  margin: 5px 5px 50px 5px;
  background-color: #faf1f1; 
  border-radius: 9px; 
  box-shadow: 3px 2px 1px lightgray;
  padding: 10px;
  overflow: hidden;
  transition: 500ms ease;
  position: relative;
  padding-bottom: 20px;
  text-align: center;
}

div.wrapper-main .Product:hover {
  transform: scale(1.05);
}

div.wrapper-main .Product img{
  width: 70%;
}

div.wrapper-main .Product .name{
  font-size: 1rem;
  font-weight: 500;
  text-align: left;
}

div.wrapper-main .Product .description{
  font-size: 0.9rem;
  text-align: left;
}

div.wrapper-main .Product .cost{
  font-size: 0.9rem;
  font-weight: 500;
  color: #bd3838;
  text-align: center;
  padding-top: 10px;
}

div.wrapper-main .Product .add-to-cart{
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: #bd3838;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  border: none; 
  outline: none;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.filter{
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.filter span{
  padding-right: 20px;
}

.custom-checkbox:checked+label::before {
  border-color: #d17878;
  background-color: #d17878;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.filter span {
  font-size: 1.2rem;
  font-weight: 500;
}
label {
  font-size: 1rem;
}

.custom-select {
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  background-color: #eae0e0;
  outline: none;
  color: #444b51;
}

@media (max-width: 640px) {
  .filter span {
    font-size: 1rem;
  }
  label {
    font-size: 0.8rem;
  }
  .filter span{
    padding-right: 10px;
  }
}

@media (max-width: 420px) {
  .filter span{
    padding-right: 5px;
  }
  .filter span {
    font-size: 0.8rem;
  }
  label {
    font-size: 0.6rem;
  }
}


.SModalGlass {
  display: none;
  background-color: rgba(0,0,0,0.05);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.SModalWindow {
  padding: 25px 25px 25px 25px;
  background-color: #ba8484;
  width: 300px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  height: 15%;
}
.SModalGlassGet {
  display: block;
  background-color: rgb(52 34 34 / 15%);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.SModalInput {
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  background-color: #d17878;
  outline: none;
  color: #444b51;
  width: 150px;
  height: 30px;
}

.SModalText {
  padding: 15px;
  color: #444b51;
}
